<aside class="blog-sidebar">

    {{!
        Sidebar contains widgets for both main blog and dev blog.
        They are conditionally shown/hidden via code injection.
    }}

    <section class="blog-subscribe blog-subscribe-main widget">
        <h3>Subscribe</h3>
        <p>Our posts about visitor analytics delivered right to your inbox. No spam.</p>
        <a class="button-add large wide" data-toggle="modal" data-target="#blogsubscribe">Subscribe Now</a>
    </section>

</aside>
